@import url(https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab:400,700);
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #50457b;
}

body, p {
  font-family: "Roboto Slab", serif;
}

b, strong {
  font-weight: 700;
}

.width {
  float: left;
  padding: 0 1rem;
}
.width.one-quarter {
  width: 25%;
}
.width.half {
  width: 50%;
}
.width.three-quarters {
  width: 75%;
}
.width.full {
  width: 100%;
}
.width.no-padding {
  padding: 0;
}
.width:first-of-type {
  padding-left: 0;
}
.width:last-of-type {
  padding-right: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-container h1:first-of-type {
  margin-top: 1rem;
}

.field-name-body h2 {
  color: #474747;
  text-transform: uppercase;
  font-size: 2.3rem;
}

.links.inline .node-readmore {
  padding: 0;
  padding: .25rem 1rem;
  background: #50457b;
  border-radius: 3px;
}
.links.inline .node-readmore a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
}

.region h2:first-of-type {
  margin-top: 0;
}

.above-content {
  border: 1px solid #b60c0c;
  text-align: center;
  padding: 1rem;
}
.above-content .views-field-title a {
  color: #b60c0c;
  font-size: 1.5rem;
  font-weight: 700;
}

.below-content {
  background: #ebebeb;
  text-align: center;
  padding: 1rem;
}

#header {
  width: 100%;
  background: #ebebeb;
  padding: 2rem 1rem;
  margin-bottom: 5rem;
  border-bottom: 1px solid #50457b;
}
#header .logo {
  float: left;
  margin-right: 2rem;
}
#header nav {
  float: left;
}
#header ul.links {
  padding: 0;
  margin: 0;
}
#header ul.links li {
  display: inline-block;
  padding: 0 1rem;
  border-right: 1px solid #ccc;
}
#header ul.links li a {
  font-size: 2rem;
}
#header ul.links li a:hover {
  text-decoration: none;
}
#header ul.links li:last-of-type {
  border-right: 0;
}

.sidebar h2 {
  font-size: 2rem;
  text-transform: uppercase;
}
.sidebar .inner {
  padding: 1rem;
}
.sidebar .block {
  margin-bottom: 2rem;
  padding: 2rem 1rem;
  border-radius: 3px;
  background: #ebebeb;
  border: 1px solid #ccc;
}
.sidebar .block:last-of-type {
  margin-bottom: 0;
}

.breadcrumb {
  background-color: transparent;
  text-transform: uppercase;
  font-size: 1rem;
}
.breadcrumb:first-of-type {
  padding-left: 0;
}

.node-type-blog-entry .blog-photo {
  margin-bottom: 3rem;
}
.node-type-blog-entry .blog-photo img {
  width: 100%;
  height: auto;
  border: 1px solid #474747;
}
.node-type-blog-entry .submitted {
  margin: 0 0 2rem 0;
  text-transform: uppercase;
  font-size: 1rem;
}

.block-views .views-row {
  margin-bottom: 1rem;
}
.block-views .view-id-blog .views-field-created {
  font-size: 1rem;
}

.view-blog.view-display-id-page .views-row {
  border-bottom: 1px solid #50457b;
  padding-bottom: 2rem;
  margin-top: 2rem;
}
.view-blog.view-display-id-page .views-row:last-of-type {
  border-bottom: 0;
}
.view-blog.view-display-id-page .submitted {
  margin: 2rem 0;
  text-transform: uppercase;
  font-size: 1rem;
}

#block-views-events-block {
  background: transparent;
}
#block-views-events-block .views-row {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}
#block-views-events-block .views-row:last-of-type {
  border-bottom: 0;
}
#block-views-events-block .views-field-field-date {
  font-size: 1rem;
}

.node-type-event #block-system-main .field-name-field-date {
  margin-bottom: 2rem;
  color: #50457b;
}

.view-events.view-display-id-page .views-row {
  margin-bottom: 1rem;
  border: 1px solid #50457b;
}
.view-events.view-display-id-page .views-field-field-date {
  border-bottom: 1px solid #50457b;
  padding: 1rem 1.5rem;
  background: #50457b;
  color: #fff;
}
.view-events.view-display-id-page .views-field {
  padding: 1rem;
}

.messages {
  margin-bottom: 2rem;
}

.node-type-assignment .field-name-field-due-date {
  margin: 1rem 0;
}

.node-type-assignment .field-name-body {
  border-right: 1px solid #ccc;
}
/*# sourceMappingURL=wdv.css.map */
